<div class="header">
  <h1>Angular Weapon Store</h1>
  <h2>Rarest Item Around</h2>
</div>

<div class="container">
      <div class="item1">
        <mat-card class="list" >
          <mat-card-header>
            <mat-card-title>Kokorowatari </mat-card-title>
          </mat-card-header>
          <img mat-card-image src="./../assets/img/pasta.jpg">
          <mat-card-content>
            <p>Price: $444</p>
            <p>
              Demon sword that harms and effectively kills oddities.
              The sword belonged to a powerful vampire named Kiss-Shot Acerola-Orion Heart-Under-Blade.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Add To Chart</button>
          </mat-card-actions>
        </mat-card>
        <mat-card class="list" >
          <mat-card-header>
            <mat-card-title>Kokorowatari </mat-card-title>
          </mat-card-header>
          <img mat-card-image src="./../assets/img/pasta.jpg">
          <mat-card-content>
            <p>Price: $444</p>
            <p>
              Demon sword that harms and effectively kills oddities.
              The sword belonged to a powerful vampire named Kiss-Shot Acerola-Orion Heart-Under-Blade.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Add To Chart</button>
          </mat-card-actions>
        </mat-card>
        <mat-card class="list" >
          <mat-card-header>
            <mat-card-title>Kokorowatari </mat-card-title>
          </mat-card-header>
          <img mat-card-image src="./../assets/img/pasta.jpg">
          <mat-card-content>
            <p>Price: $444</p>
            <p>
              Demon sword that harms and effectively kills oddities.
              The sword belonged to a powerful vampire named Kiss-Shot Acerola-Orion Heart-Under-Blade.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Add To Chart</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="item1">
        <mat-card class="list" >
          <mat-card-header>
            <mat-card-title>Kokorowatari </mat-card-title>
          </mat-card-header>
          <img mat-card-image src="./../assets/img/pasta.jpg">
          <mat-card-content>
            <p>Price: $444</p>
            <p>
              Demon sword that harms and effectively kills oddities.
              The sword belonged to a powerful vampire named Kiss-Shot Acerola-Orion Heart-Under-Blade.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Add To Chart</button>
          </mat-card-actions>
        </mat-card>
        <mat-card class="list" >
          <mat-card-header>
            <mat-card-title>Kokorowatari </mat-card-title>
          </mat-card-header>
          <img mat-card-image src="./../assets/img/pasta.jpg">
          <mat-card-content>
            <p>Price: $444</p>
            <p>
              Demon sword that harms and effectively kills oddities.
              The sword belonged to a powerful vampire named Kiss-Shot Acerola-Orion Heart-Under-Blade.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Add To Chart</button>
          </mat-card-actions>
        </mat-card>
        <mat-card class="list" >
          <mat-card-header>
            <mat-card-title>Kokorowatari </mat-card-title>
          </mat-card-header>
          <img mat-card-image src="./../assets/img/pasta.jpg">
          <mat-card-content>
            <p>Price: $444</p>
            <p>
              Demon sword that harms and effectively kills oddities.
              The sword belonged to a powerful vampire named Kiss-Shot Acerola-Orion Heart-Under-Blade.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Add To Chart</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

<div class="footer">
  <hr>
  <h1>Your GOLD: <strong class="gold">1000</strong></h1>
  <h1 class="chart"><strong>Added to Chart:</strong></h1>
  <hr>
  <h1 class="total"><strong>Total</strong>:</h1><h1 class="price">0</h1>
  <div class="button">
    <button class="btn" mat-button color="primary">Buy</button>
  </div>
</div>